<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<style>
    .ui-menu .ui-menu-item {
        padding: 0.5em 0.5em;
    }
    .ui-menu .ui-menu-item:hover {
        background: #5c9ccc;
        color: #fff;
    }
    .sk-select-multi-item {
        min-height: 2em;
        line-height: 2em;

    }
    .sk-select-multi-item .ui-menu-item-wrapper {
        padding-left: 1em;
        min-width: 14em;
    }
    .sk-select-multi-btn {
        min-width: 16em;
        text-align: initial !important;
    }
</style>
<div class="sk-input">
    <label class="sk-input-label"><slot name="label"></slot></label>
    <select>
        <slot></slot>
    </select>
    <span tabindex="0" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-haspopup="true"
          class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget" aria-disabled="false">
        <span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span>
        <span class="ui-selectmenu-text"></span>
    </span>
    <button type="button" class="ui-multiselect ui-button ui-widget ui-state-default ui-corner-all filter-value sk-select-multi-btn"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="sk-select-filter-label"></span></button>
    <div class="ui-selectmenu-menu ui-front ui-selectmenu-open">
        <ul aria-hidden="false" role="listbox" tabindex="0"
            class="ui-menu ui-corner-bottom ui-widget ui-widget-content ui-menu-icons"
            aria-disabled="false">

        </ul>
    </div>
</div>